html,body {
	width: 100%;
	height: 100%;
	margin: 0;
  position: fixed;
	padding: 0;
}

/* HEADER CSS - END */
.mainHeader, .mainHeader h1{
	font-family: Source Sans Pro;
  width: 100%;
  height: 13%;
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: #2b6ca7;
	box-shadow: 1.5% 1.5% black;
}

.headerSec {
	font-family: Source Sans Pro;
  display: flex;
  justify-content:center;
	flex-direction: row;
	align-items: center;
  width: 100%;
  height: 100%;
	color: white;
  padding-right: : 20%;
  padding-left: : :10%;
}

.headerCmp {
    height: 100%;
		display: flex;
		justify-content: center;
    font-size: 20px;
}/*
.logoJEDI {
  height: 100%;
}*/
#title {
  width: auto;
  height: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
  font-size: 70px;
  font-family: "Open Sans";
}

#userActions{
  width: 10%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
/* HEADER CSS - END */

/* CONTENT CSS  */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

.wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right,#53e3ff 10%, #124daa 100%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper.form-success .divForm h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;


}
.divForm {
	display: block;
	position: relative;
	bottom:  5%;
  width: 40%;
  margin: 0 auto;
  padding: 2.5% 0;
  height: auto;
  text-align: center;
	background-color: rgba(237, 245, 247, 0.8);
	box-shadow: 1.5% 1.5% black;
}
.divForm h1 {
	font-family: Source Sans Pro;
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
.form {
  padding: 4.5% 0;
  position: relative;
  z-index: 2;
}
.form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
  width: 35%;
  border-radius: 3px;
  padding: 1.5% 1.8%;
  margin: 0 auto 1.5% auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  transition-duration: 0.25s;
  font-weight: 300px;
}
.form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.form input:focus {
  background-color: white;
  width: 40%;
	color: #138dfe;

}
.form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 1.5% 1.8%;
  color: #138dfe;
  border-radius: 3px;
  width: 35%;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
.form button:hover {
	background-color: rgb(61, 140, 198);
	color: white;
}
#dataCardP{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-family: Source Sans Pro;
	height: auto;
}
#dataCardP p{
	font-size: 22px;
}
.cmpPrior{
	width: 50%;
}
.cmpPrior select {
	width: 40%;
	align-content: center;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 2%;
  height: 4%;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 4%;
  height: 8.5%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 4.5%;
  height: 9%;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 9%;
  height: 19%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 10.5%;
  height: 20%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
	width: 6%;
  height: 12%;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: .7%;
  height: 1.5%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 10%;
  height: 24%;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}

/* CONTENT CSS - END */
