html,body{
  width: 100%;
  height: 100%;
  font-family: Source Sans Pro;
  font-size: 62.5%;
  position:fixed;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

/* SCROLLBAR CSS - FOR TEXTAREA */

::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .6rem rgba(0,0,0,0.3);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 .6rem rgba(0,0,0,0.5);
    background: rgba(61, 140, 198,0.7);
}

/* NAVBAR CSS */

.navbar {
  border-bottom: .1rem solid rgb(43, 108, 167);
  background: rgba(43, 108, 167, 0.87);
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 10rem 0.5rem 5rem;
  -webkit-box-shadow: 0rem .4rem .5rem rgba(0, 0, 0, 0.49);
	   -moz-box-shadow: 0rem .4rem .5rem rgba(0, 0, 0, 0.49);
        	box-shadow: 0rem .4rem .5rem rgba(0, 0, 0, 0.49);
}
.container-fluid{
  padding: 0;
}
.navbar .navbar-brand{
  color: white;
  font-size: 4rem;
  float: left;
}
.navbar .navbar-brand:hover{
  color: white;
}
.navbar-default .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8);
}
 .navbar-default .navbar-nav li a:hover {
  background: rgb(47, 94, 138);
  border: .1 solid rgb(47, 94, 138);
  border-radius: 1rem;
  color: white;
 }

 #brand-logo{
   height: 6rem;
 }

#prior {
  font-size: 2rem;
  margin: 0;
}
/* FORM CSS */

.form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50rem;
  height: 55rem;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 2;
  background-color: rgba(237, 245, 247, 0.8);
	box-shadow: 0 .5rem 2.5rem rgba(0,0,0,.5);
}
.form-row{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
h1{
  margin-bottom: 3rem;
}
.titleCard, .descrpCard {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: .1rem solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
  width: 25rem;
	max-height: 100%;
  border-radius: .3rem;
  padding: 1rem 1.5rem;
  margin: 0 auto 1rem auto;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: black;
  font-weight: 30rem;
}
.titleCard:hover, .descrpCard:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.titleCard:focus, .descrpCard:focus {
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  background-color: white;
  width: 30rem;
	color: #138dfe;

}
.register{
  padding-top: 1rem;
  font-size: 2rem;
}
.form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 1rem 1.5rem;
  color: rgb(61, 140, 198);
  border-radius: .3rem;
  width: 25rem;
  cursor: pointer;
  font-size: 1.8rem;
	font-weight: bold;
  transition-duration: 0.25s;
  margin-top: 1.2rem;
  float: none;
}
.form button:hover {
	background-color: rgb(61, 140, 198);
	color: white;
}

.form-check{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form input[type="radio"]{
	display: none;
}
.form input[type="radio"]:checked+label::before{
	background: rgb(61, 140, 198);
	-webkit-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}
.form label {
	display: inline-block;
	padding: .5rem 1.5rem .5rem 5.1rem;
	position: relative;
	font-size: 1.5rem;
	border-radius: .3rem;
	cursor: pointer;
}
.form label:hover{
	background-color: rgba(255, 255, 255, 0.4);
}
.form label::before{
	content: "";
	width: 1.7rem;
	height: 1.7rem;
	display: inline-block;
	background: none;
	border: .34rem solid rgba(61, 140, 198, 0.73);
	border-radius: 50%;
	position: absolute;
	align-items: center;
	right:  65%;
  top: .8rem;
	bottom: .3rem;
}

/* CSS - Bubbles */

.wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right,#53e3ff 10%, #124daa 100%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.wrapper.form-success .divForm h1 {
  -webkit-transform: translateY(8.5rem);
          transform: translateY(8.5rem);
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -16rem;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 8rem;
  height: 8rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 6rem;
  height: 6rem;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width:12rem;
  height: 12rem;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 16rem;
  height: 16rem;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
	width: 2rem;
  height: 2rem;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 1rem;
  height: 1rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 16rem;
  height: 16rem;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-70rem) rotate(600deg);
            transform: translateY(-70rem) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-70rem) rotate(600deg);
            transform: translateY(-70rem) rotate(600deg);
  }
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 600px) {
  .navbar {
    font-size: 1.7rem;
  }
  .navbar .navbar-brand{
    font-size: 3rem;
  }
  .form {
    margin-top: 10rem;
  }
}


@media only screen and (max-width: 600px)
    and (min-height: 800px ) and (max-height: 1000px) {
  .navbar {
    font-size: 1.7rem;
  }
  .navbar .navbar-brand{
    font-size: 3rem;
  }
  .form {
    margin-top: 15rem;
  }
}
